body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #FFFFFF;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 20px;
}

.letter {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 65px;
  font-weight: bold;
  line-height: 100px;
  height: 90px;
  margin-right: 10px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  color: #5d3a7e;
  width: 90px;
}

.letter:focus {
  outline: none;
}

.anagrams-title {
   text-align:center;
   font-size: 70px;
   color: #5d3a7e;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.row:after {
  clear: both;
  content: "";
  display: table;
}

.anagrams-submit {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: 10px;
  margin-top: 20px;
  padding: 0;
  text-align: center;
  color: #5d3a7e;
  width: 200px;
}

.anagrams-word {
  background: #fff;
  border: 0px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: 10px;
  margin-top: 20px;
  padding: 0;
  text-align: center;
  color: #5d3a7e;
  width: 250px;
}

.anagrams-status {
  background: #fff;
  border: 0px solid #999;
  float: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: 10px;
  margin-top: 20px;
  padding: 0;
  text-align: center;
  color: #5d3a7e;
  width: 150px;
}

.anagrams-home {
  background: rgb(255, 255, 255);
  border: 1px solid #999;
  float: left;
  font-size: 27px;
  font-weight: bold;
  line-height: 0px;
  height: 40px;
  margin-right: 10px;
  margin-top: 0px;
  padding: 0;
  text-align: center;
  color: #5d3a7e;
  width: 100px;
}
