body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #FFFFFF;
}

/* .menu-container {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
 
  
} */

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 20px;
}

.matching-tile {
  background: #fff;
  border: 5px solid #999;
  float: left;
  font-size: 23px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 0;
  text-align: center;
  color: #556B2F;
  width: 150px;
}

.tile:focus {
  outline: none;
}

.matching-title {
  text-align:center;
  font-size: 70px;
  color: #556B2F;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.matching-home {
  background: rgb(255, 255, 255);
  border: 1px solid #999;
  float: left;
  font-size: 27px;
  font-weight: bold;
  line-height: 0px;
  height: 40px;
  margin-right: 10px;
  margin-top: 0px;
  padding: 0;
  text-align: center;
  color: #556B2F;
  width: 100px;
}

.matching-gameover-title {
    text-align: center;
    font-size: 1000 px;
    margin-top: 500 px;
    color: #556B2F;
    width: 150px;
}

.timer-wrapper {
    margin-left: 700 px
}

matching-gameOver {
    text-align:center;
    font-size: 70px;
    color: #556B2F;
}